@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    color: rgb(211, 211, 211);
    border:none;
    outline: none;
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #2d3035; */
    /* background-color: #1d1f22; */
    background: rgb(97,99,105);
    background: linear-gradient(145deg, #585a61 40%, rgba(27,20,26,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-background {
    background-color: rgba(97,99,105,1);
}

.content {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 100%;
    height: max-content;
    box-sizing: border-box;
    /* height: 100vh; */
    min-height: 100vh;
    max-height: fit-content;
}

.content .search-bar {
    display: flex;
    padding:20px;
    width: 90%;
    flex-direction: column;
}

.content .search-bar .search{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .search-bar .search input{
    width: 50%;
    background-color: #1D1E22;
    padding:12px 12px 12px 24px;
    border:0;
    border-radius: 100px;
    box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #161513;
    text-align: left;
    text-transform: capitalize;
}

/* .content .search-bar .search input:active, */
.content .search-bar .search input:focus{
    box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #131416;          
}

.content .card-result {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 0;
    box-shadow: -12px -12px 40px -12px #90939b, 10px 10px 30px 1px #161216, inset -10px -10px 30px -1px #90939b, inset 6px 6px 30px -1px #161216;
    justify-content: center;
    align-items: center;
}

.content .card-result .current{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 16px;
}

.content .card-result .title {
    padding: 10px;
    border-radius: 26px;
    /* box-shadow: 0px 0px 10px -4px #2e2f35; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    text-align: center;
}

.content .card-result .current .main {
    padding: 10px;
    border-radius: 26px;
    /* box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #131416;  */
                box-shadow: -12px -12px 40px -12px #90939b, 10px 10px 30px 1px #161216, inset -10px -10px 30px -1px #90939b, inset 6px 6px 30px -1px #161216;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* background-color: rgb(208, 255, 0); */
}

.content .card-result .current .main .icon-weather-container {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .card-result .current .main .icon-weather-container .icon-weather{
    max-width: 100px;
    max-height: 100px;
    height: 100px
}

.content .card-result .current .secondary {
    padding: 10px;
    border-radius: 26px;
    box-shadow: -12px -12px 40px -12px #90939b, 10px 10px 30px 1px #161216, inset -10px -10px 30px -1px #90939b, inset 6px 6px 30px -1px #161216;
    /* box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #131416;  */
    width: 40%;
}

.content .card-result .current .secondary .item {
    margin: 5px;
    display: flex;
}

.content .card-result .current .secondary .item h4 {
    margin: 0px;
    font-weight: 500;
}
.content .card-result .current .secondary .item span {
    margin: 0px 0px 0px 4px;
}

.content .card-result .forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 0 16px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.content .card-result .forecast .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #131416;  */
    padding: 10px 20px;
    max-width: 30%;
    border-radius: 26px;
    box-shadow: -12px -12px 40px -12px #90939b, 10px 10px 30px 1px #161216, inset -10px -10px 30px -1px #90939b, inset 6px 6px 30px -1px #161216;
}

.button {
    text-align: center;
    border-radius: 36px;
    border: 0px;
    font-weight: 300;
    background-color: #1D1E22;
    box-shadow: -20px -16px 26px -30px #34363c, 
                10px 10px 20px -10px #131416, 
                inset -50px -50px 40px -60px #292b30, 
                inset 40px 40px 40px -40px #131416;
    min-width: 50px;
    padding: 12px;
}

.button:active,
.button:hover {
    border-radius: 36px;
    border: 0px;
    font-weight: 300;
    background-color: #1D1E22;
    box-shadow: inset -5px -5px 4px -6px #2e2f35, 
                inset 5px 5px 4px -2px #131416
                ;
    min-width: 50px;
    padding: 12px;
    cursor: pointer;
}


.card-exemple {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* padding:20px; */
    /* box-shadow: -20px -16px 26px -30px #34363c, 
                13px 13px 20px -10px #131416, 
                inset -50px -50px 40px -60px #292b30, 
                inset 40px 40px 40px -40px #131416; */
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.search-result {
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: -20px -16px 26px -30px #34363c, 
                13px 13px 20px -10px #131416, 
                inset -50px -50px 40px -60px #292b30, 
                inset 40px 40px 40px -40px #131416;
    justify-content: center;
    align-items: center;
}

.search-result .search-result-item {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    padding:10px;
    /* box-shadow: -20px -16px 26px -30px #131416, 
                13px 13px 20px -10px #131416, 
                inset -50px -50px 40px -60px #131416, 
                inset 40px 40px 40px -40px #131416; */
    box-shadow: 0px 0px 10px -4px #2e2f35;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 4px solid #585a61;
    /* border: 2px solid red; */
}

.search-result .search-result-item-disabled {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    padding:10px;
    /* box-shadow: -20px -16px 26px -30px #131416, 
                13px 13px 20px -10px #131416, 
                inset -50px -50px 40px -60px #131416, 
                inset 40px 40px 40px -40px #131416; */
    /* box-shadow: 0px 0px 10px -4px #2e2f35; */
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: 2px solid red; */
}

.search-result .search-result-item:hover {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    padding: 10px;
    /* background-color: #1D1E22; */
    /* box-shadow: -5px -5px 4px -6px #2e2f35, 5px 5px 4px -2px #131416, inset -5px -5px 4px -6px #1c1e20, inset 5px 5px 4px -2px #1c1e20; */
    box-shadow: 0px 0px 10px -4px #1c1d20, inset 8px 8px 10px -4px #191a1e, inset -8px -8px 10px -10px #90939b;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 4px solid #585a61;
    
}



@media screen and (max-width: 800px) {
    .content .card-result .current {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 16px;
        align-items: center;
    }

    .content .card-result .current .main,
    .content .card-result .current .secondary {
        width: 90%;
        margin:16px 0;
    }

    .content .card-result .forecast{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        padding: 0 16px;
        margin: 20px 0;
        flex-wrap: wrap;
        align-content: center;
    }

    .content .card-result .forecast .item{
        display: flex;
        width: 100%;
        flex-direction: column;
        min-width: 70%;
        margin: 10px 0;
    }
}